.home-admin-container {
    .content {
        .container {
            height: 1500px;

            .title {
                display        : flex;
                justify-content: space-between;
                padding-top    : 20px;
                margin-bottom  : 20px;

                .date {}
            }

            .number {
                height : 430px;
                display: flex;
                gap    : 10px;

                .left {
                    align-content: center;
                    height       : 360px;
                    border       : 2px solid #E6E6E6;
                    border-radius: 10px;

                    .tex {
                        font-size  : 60px;
                        font-weight: 600;
                        text-align : center;
                    }

                    .num {
                        padding-top: 20px;
                        font-size  : 20px;
                        color      : #4C4C4C;
                        text-align : center;
                    }
                }

                .left:hover {
                    border: 2px solid #00B207;
                }


                .right {

                    .top-right {
                        display      : flex;
                        height       : 170px;
                        gap          : 10px;
                        margin-bottom: 10px;

                        .top-right-child {
                            align-content: center;
                            height       : 170px;
                            border       : 2px solid #E6E6E6;
                            border-radius: 10px;
                        }

                        .top-right-child:hover {
                            border: 2px solid #00B207;
                        }
                    }

                    .bot-right {
                        align-content: center;
                        display      : flex;
                        height       : 180px;
                        gap          : 10px;

                        .bot-right1 {
                            height          : 180px;
                            border          : 2px solid #00B207;
                            border-radius   : 10px;
                            background-color: #00B207;

                            .image {
                                background-image: url("../../../assets/images/Admin/4f82780fe59eaf78c651ac795e5ead00.jpg");
                                background-size : cover;
                                width           : 100%;
                                height          : 135px;
                                align-content   : center;


                                .numb {
                                    margin-left     : 35px;
                                    background-color: rgba($color: #000000, $alpha: 0.6);
                                    height          : 70px;
                                    color           : white;
                                    width           : 110px;
                                    font-size       : 50px;
                                    font-weight     : 700;
                                    text-align      : center;
                                    align-content   : center;
                                    border-radius   : 8px;
                                }
                            }

                            .name {
                                display      : flex;
                                align-content: center;

                                .text1 {
                                    font-weight : 550;
                                    color       : white;
                                    padding-left: 13px;
                                    margin-top  : 10px;
                                    font-size   : 18px;
                                }

                                .text2 {
                                    font-weight  : 550;
                                    color        : white;
                                    margin-left  : auto;
                                    padding-right: 13px;
                                    padding-top  : 10px;
                                    font-size    : 18px;
                                }
                            }
                        }

                        .bot-right1:hover {
                            border: 2px solid #00B207;
                        }

                        .bot-right2 {
                            height          : 180px;
                            border          : 2px solid #00B207;
                            border-radius   : 10px;
                            background-color: #ffffff;

                            .image {
                                background-image: url("../../../assets/images/Admin/2.jpg");
                                background-size : cover;
                                width           : 100%;
                                height          : 135px;
                                align-content   : center;


                                .numb {
                                    margin-left     : 35px;
                                    background-color: rgba($color: #000000, $alpha: 0.6);
                                    height          : 70px;
                                    color           : #ffffff;
                                    width           : 110px;
                                    font-size       : 50px;
                                    font-weight     : 700;
                                    text-align      : center;
                                    align-content   : center;
                                    border-radius   : 8px;
                                }
                            }

                            .name {
                                display      : flex;
                                align-content: center;

                                .text1 {
                                    font-weight : 550;
                                    color       : #00B207;
                                    padding-left: 13px;
                                    margin-top  : 10px;
                                    font-size   : 18px;
                                }

                                .text2 {
                                    font-weight  : 550;
                                    color        : #00B207;
                                    margin-left  : auto;
                                    padding-right: 13px;
                                    padding-top  : 10px;
                                    font-size    : 18px;
                                }
                            }
                        }

                        .bot-right2:hover {
                            border: 2px solid #00B207;
                        }
                    }
                }

                .tex {
                    font-size  : 45px;
                    font-weight: 600;
                    text-align : center;
                    padding-top: 20px;
                }

                .num {
                    font-size : 20px;
                    color     : #4C4C4C;
                    text-align: center;
                }

                .per {
                    padding-top: 20px;
                    font-size  : 20px;
                    color      : #00B207;
                    text-align : center;
                }
            }

            .chart {
                height: 500px;
            }

            .new-recipe {
                display: flex;
                height : 250px;
                gap    : 10px;

                .recipe {
                    height          : 250px;
                    background-color: yellow;
                }
            }
        }
    }
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-qnu6hi).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-qnu6hi).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    color     : #fff;
    background: #00B207;

}