.container-info{
    flex-direction: column;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.rate .ant-rate-star{
    font-size: 12px;
}

.container-right{
    margin-left: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 30%;
}

.container-product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rate{
    font-size: 8px;
}

.ant-card-hoverable:hover {
    border: 1px solid #00b207; 
}
  
.sold-out-label {
    position: absolute;
    top: 10px; 
    left: 10px; 
    background-color: black;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 1; 
}

.sale-label{
    position: absolute;
    top: 12px; 
    left: 12px; 
    background-color:#EA4B48;
    ;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 1; 
}

.product_image{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.primary-color{
    color: #00b207;
}

.card-product{
    border-radius: 8px;
}

.strikethrough {
    text-decoration: line-through;
}

.grey{
    color:#d2d2d2;
}

.margin0{
    margin: 0px 0px;
}

.modal-content {
  display: flex;        
  height: 100%;    
  flex-direction: row;      
}
  
.im-area {
  flex: 1;              
  background-color: red;
  display: flex;
  flex-direction: row;      
}

.img-list{
    flex:1;
    background-color: red;
}
.img-product{
    flex:5;
    background-color: green;
}
.info-area {
  flex: 1;              
  display: flex;
  flex-direction: column;      

}

.info-1{
    flex:6;
    background-color: pink;
}

.info-2{
    flex:1.5;
    background-color: blue;
}