.img {
  cursor: pointer;
}
.dropdown-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.img_frame {
  margin-right: 5px;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: transform 0.3s ease-out;
}
.img_frame.rotated {
  transform: rotate(180deg);
}
.dropdown-list.open {
  max-height: 10000px; /* Adjust as needed */
}
.txt {
  margin-left: 10px;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  /* Body XL/Body XL, 500 */
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  user-select: none;
  transform: translateY(7px);
}
.category {
  display: flex;
  width: 100%;
  color: #00b207;
  margin-left: 10px;
  height: 40px;
  justify-items: space-between;
  cursor: pointer;
}
.ul {
  list-style-type: none; /* Remove default bullet points */

  margin: 0; /* Remove default margin */
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.category_name {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  /* Body Small/Body Small, 400 */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  width: fit-content;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.category {
  display: flex;
  align-items: center;
}

.category_radi {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust spacing between radio button and text */
}

.category_labe {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}

.category_name,
.category_number {
  margin: 0;
}
.category_number {
}

.category_radio:checked + .category_label {
  color: #00b207; /* Change text color to green when selected */
}

.category_radio:checked + .category_label .category_name,
.category_radio:checked + .category_label .category_number {
  color: #00b207; /* Change text color to green when selected */
}
.gapp {
  width: 100%;
}
.radiogr {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
}
