.footer-container {
  width: 100%;
  background-color: #191919;

  .top {
    height: 200px;
    width: 100%;
    display: flex;

    .decor-left {
      display: flex;

      .decor-image {
        background-image: url("../../../assets/images/footer_decor_left.svg");
        background-size: cover;
      }

      .content {
        .contact {
          display: flex;
          margin-top: 10px;
          color: white;
          cursor: pointer;
          font-size: 14px;

          .or {
            cursor: auto;
            color: #808080;
            margin: 0 7px;
          }
        }

        .texxt {
          color: #808080;
          font-size: 14px;
        }

        .display {
          margin-top: 40px;
          display: flex;
          justify-content: flex-start;

          .app-navi {
            color: var(--Gren-Gray-Scale-900, #fbfbfb);
            font-family: Poppins;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 38px;
            /* 118.75% */
            letter-spacing: -0.96px;
            cursor: pointer;
          }

          .logo {
            background-size: contain;
            /* Đảm bảo hình ảnh không bị cắt */
            background-repeat: no-repeat;
            /* Không lặp lại hình ảnh */
            width: 27px;
            /* Đặt chiều rộng cho logo */
            height: 27px;
            background-image: url("../../../assets/images/plant1.svg");
            /* Đường dẫn đến hình ảnh */
            margin-right: 8px;
            /* Đặt khoảng cách giữa logo và chữ */
          }
        }
      }
    }

    .content-center {
      display: flex;
      color: #808080;

      font-size: 14px;

      .cc {
        align-content: space-around;
        padding-left: 40px;

        .title {
          color: white;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .cc1 {
        padding-left: 200px;
      }
    }

    .decor-right {
      display: flex;

      .decor-image {
        background-image: url("../../../assets/images/footer_decor_right.svg ");
        background-size: cover;
      }
    }
  }

  .bottom {
    color: #808080;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    font-size: 14px;
  }
}

hr {
  color: white;
  margin: revert-layer;
}
u {
  text-decoration: underline;
  text-decoration-color: #00b207;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}
