.FP-container {
    height: 380px;

    .main {


        background-image : url("../../../assets/images/Home/featured_product_bg.svg");
        background-size  : contain;
        background-repeat: no-repeat;
        align-content    : space-around;

        .container {
            .list-pro {
                gap: 15px;
            }

            .title {
                font-size    : 25px;
                font-weight  : 650;
                margin-bottom: 20px;
                margin-top   : 20px;
            }

            .row {
                display: flex;

                .product1 {
                    background-color: yellow;
                    padding-left    : 10px;
                    height          : 270px;

                }

                .product2 {
                    background-color: rgb(67, 208, 39);
                    padding-left    : 10px;
                    height          : 270px;

                }

                .product3 {
                    background-color: rgb(27, 122, 255);
                    padding-left    : 10px;
                    height          : 270px;

                }

                .product4 {
                    background-color: rgb(246, 49, 49);
                    padding-left    : 10px;
                    height          : 270px;

                }
            }
        }
    }
}